body{
    margin: 0 ;
    padding:0 ;
}
/* ~~~~~~~ to make background blur , it is necessary to introduce a other div , otherwise bluring in body section would blur whole page~~~~~~~ */
#gallery-background {
    position: absolute;
    top: 0;    
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-image: url("bgimage.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    filter: blur(9px);
}

/* ~~~~~~~ making all elements with class name flex a flexbox~~~~~~~ */
.flex{
    display: flex;
}

/* ~~~~~~~ this contains logo and navigation button ~~~~~~~ */
.content_wrapper {
   padding-top: 30px;
   margin: 0  auto ;
   height: 70vh ;
   width:80vw ;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
/* ~~~~~~~ this is enough for making RESPONSIVE images ~~~~~~~ */
img{ 
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%; 
}

a{  
    text-decoration: none;
    position:relative;  
    padding: 19px 22px;
    transition: all 0.2s ease;
}
/* ~~~~~~~ this defines a content(psuedo element) just before anchor tag , that circle you see green colored is actually this content and on hovering this content covers whole achor tag ~~~~~~~ */

a:before{
    content:'';
    position:absolute;
    top:0px;
    left:2px;
    border-radius:80px;
    background:rgba(9, 247, 187, 0.3);
    width:56px;
    height: 56px;
    transition: all .3s ease
}

a>span{
    position: relative;
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.1em;   
    text-transform: uppercase;
    vertical-align: middle;
    color:white

}
/* ~~~~~~~ the arrow after "DIVE IN"  is made with svg ~~~~~~~ */
a>svg{
    position:relative;
    fill:none;
    stroke:white;
    stroke-width:2px;
    margin-left:10px;
    transform: translateX(-10px);
    transition: all .3s ease
}

/* ~~~~~~~ here that psuedo content with green background covers the whole anchor tag ~~~~~~~ */
a:hover:before{
    width:100%;
    background: rgba(9, 247, 187, 0.3);
}

a:hover svg{
    transform: translateX(0);
}

a:active{
    transform: scale(0.3);  
}

/* ~~~~~~~ used to make content , more bigger and centered in mobile devices ~~~~~~~ */
@media (max-width:991px){
    .content_wrapper{
        justify-content: center;
    }
    .menupage_content_wrapper{
      justify-content: space-evenly
    }
   img{
       width:100%;
   }
   a>span{ 
    font-size: 6vw;
    letter-spacing: 0.01em;
  }
  a:before{
      width:8vw;
      height: 100%;
  }
  a{
      padding:2vh 2vw;
  }
    
}
/* ~~~~~~~ this is for making shadow of menu buttons fully cover the button , separate anchor  for menupage  so that it wont affect the button on landing page ~~~~~~~ */
.menupage_anchors:before{
    width: 100%; 
}


